.main {
    text-align: center;
}
#title {
    font-size: 3rem;

    font-family: "Kaisei Decol", serif;
    font-weight: 400;
    font-style: normal;     
}
#explain {
    border: #515151 2px solid;
    box-shadow: 0px 0px 17px 0px rgba(98,98,98,0.8);
    background-color: #FFF;
    
    font-size: 2rem;
    
    margin: 5% auto;
    padding: 2.5%;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}
#button-shape {
    height: 25%;
    width: 35%;

    margin: 1.5% auto;
    padding: 2% 0;

    background-color: #fcb38b;
    border-radius: 10px;
    border: #FFF 2px solid;
}
#quiz-button {
    height: 25%;
    width: 35%;

    font-size: 2rem;
    letter-spacing: 0.6rem;
    
    margin: 1.5% auto;
    padding: 2% 0;
    
    border-radius: 10px;
    border: #FFF 2px solid;
    background-color: #fcb38b;
}
#start-button {
    letter-spacing: 0.6rem;
    font-size: 2rem;
}
a {
    text-decoration: none;
}
#nitech-logo {
    padding: 2rem;

    background-color: #001e6a;
}