<footer>
    <div class="hidden-footer">
        <div id="floating-left">
            <div onclick="window.open('https://www.nitech.ac.jp');">名古屋工業大学HP</div>
            学科
        </div>
        <div id="floating-right">
            
            <div onclick="window.open('https://elemech.web.nitech.ac.jp/');">電気機械工学科</div>
            <div onclick="window.open('https://psae.web.nitech.ac.jp/');">物理工学科</div>
            <div onclick="window.open('https://lsac.web.nitech.ac.jp/');">応用生命工学科</div>
            <div onclick="window.open('https://shakai.web.nitech.ac.jp/');">社会工学科</div>
            <div onclick="window.open('https://www.cs.nitech.ac.jp/');">情報工学科</div>
        </div>
    </div>
    <p>&copy; 2024 学科適性判定クイズ</p>
</footer>