<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>学科適性判定クイズ</title>
    <!-- スタイルシートのリンク -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
</head>
<body>
    <header>
        <div id="header_title">学科適性判定クイズ</div>
    </header>
    <div class="main">
        <h1 id="title">ようこそ！学科適性判定クイズへ</h1>
        <p id="explain">20の質問に答えて、あなたに最適な学科を見つけましょう。</p>
        <div id="button-triangle">
            <a href="{{ url_for('quiz', question_id=1) }}" id="start-button">
                &nbsp;&nbsp;クイズを開始&nbsp;>
            </a>
        </div>
    </div>
    <!-- <div class="footer">
        <div id="footer-item">
            <a href="https://www.nitech.ac.jp/">名古屋工業大学</a>
        </div>
        <div id="footer-item">
            <a href="https://lsac.web.nitech.ac.jp/">応用生命工学科</a>
        </div>
    </div> -->
</body>
</html>